.container{
    position:absolute;
    padding:0;
    margin:0;
    height: 100%;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

header{
    display: block;
    top:0;
    left:0;
    width: 100%;
    margin: 0;
    padding: 0;
    /*google media query for height solution.*/
    height: 5rem;
    background-color: #D6D6D6;
    visibility: visible;
}
body{
    margin:0;
}
.pageHead{
    padding-top:.7rem;
    letter-spacing: 2rem;
    font-family: "depot-new-web",sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 300%;
    display:block;
    margin: 0;
    color: white;
    text-align: center;
}

.triContainer{
    position:absolute;
    top:5rem;
    height:100%;
    width:100%;
    background-color:green;
    overflow:hidden;
}
.bodyTriangle1{
    position:absolute;
    width:100%;
    height:100%;
    background : rgba(0, 0, 139, 0.57);

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: skewX(72.4deg);
    -ms-transform: skewX(72.4deg);
    transform: skewX(72.4deg);

    transition: background-color .3s;
}
.bodyTriangle1:hover{
    background-color:#D6D6D6;
}
.bodyTriangle2{
    position:absolute;
    width:100%;
    height:100%;
    background : rgba(0, 0, 139, 0.49);

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: rotate(17.6deg);
    -ms-transform: rotate(17.6deg);
    transform: rotate(17.6deg) skewX(-73deg) scale(2,2);

    transition: background-color .3s;
}
.bodyTriangle2:hover{
    background-color:#D6D6D6;
}
.bodyTriangle3{
    position:absolute;
    width:100%;
    height:100%;
    background : rgba(0, 0, 139, 0.74);

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: skewX(72.4deg);
    -ms-transform: skewX(72.4deg);
    transform: rotate(10deg) skewX(72.4deg) scale(2,2);

    transition: background-color .3s;
}
.bodyTriangle3:hover{
    background-color:#D6D6D6;
}
.bodyTriangle4{
    position:absolute;
    width:100%;
    height:100%;
    background : #00006c;

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: skewX(-72.4deg);
    -ms-transform: skewX(-72.4deg);
    transform: rotate(50deg) skewX(-72.4deg);

    transition: background-color .3s;
}
.bodyTriangle4:hover{
    background-color:#D6D6D6;
}
.triText{
    position:absolute;
    top:50%;
    opacity:0;
    color:black;
    float:left;
    transition:1s;
}