.container{
    position:absolute;
    min-height:600px;
    padding:0;
    margin:0;
    height: 100%;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display:block;
}

.header{
    display: block;
    top:0;
    left:0;
    width: 100%;
    margin: 0;
    padding: 0;
    /*google media query for height solution.*/
    height: 8%;
    min-height: 68px;
    background-color: #d6d6d6;
    visibility: visible;
    transition:1s;
}
body{
    margin:0;
}
.pageHead{
    padding-top:0;
    letter-spacing: 2rem;
    font-family: "depot-new-web",sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 3.5rem;
    display:block;
    margin: auto;
    margin-right:-2rem;
    color: #ffffff;
    text-align: center;
    transition:1s;
}

.triContainer{
    position:absolute;
    height:100%;
    width:100%;
    background-color: #008000;
    overflow:hidden;
}
.bodyTriangle1{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    background : rgb(115, 115, 190);

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0% 0%;

    -webkit-transform: rotate(0deg) skewX(0deg);
    -ms-transform: rotate(0deg) skewX(0deg);
    transform: rotate(0deg) skewX(0deg);

    transition: background-color .3s;
}


.triText1{
    position:absolute;
    font-family: "depot-new-web",sans-serif;
    font-weight:500;
    transition:1s;
    color: #D6D6D6;
    font-size:2rem;
    left:25%;
    top:0;

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    /*
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    */
}



.bodyTriangle2{
    position:absolute;
    width:150%;
    height:150%;
    top: 0;
    background : rgb(129, 129, 197);

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);

    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.triText2{
    position:absolute;
    font-family: "depot-new-web",sans-serif;
    font-weight:500;
    transition:1s;
    color: #D6D6D6;
    font-size:2rem;
    left:16.5%;
    top:0%;

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0%;
    /*
    -webkit-transform: transform: rotate(4deg);
    -ms-transform: transform: rotate(4deg);
    transform: rotate(4deg);
    */
}

.bodyTriangle3{
    position:absolute;
    width:150%;
    height:150%;
    top: 0;
    background : rgb(67, 67, 167);

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);

    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.triText3{
    position:absolute;
    font-family: "depot-new-web",sans-serif;
    font-weight:500;
    transition:1s;
    color: #D6D6D6;
    font-size:2rem;
    left: 17%;
    top:0%;

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0%;
    /*
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    */
}


.bodyTriangle4{
    position:absolute;
    width:150%;
    height:150%;
    top: 0;
    background : #00006c;

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);

    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.triText4{
    position:absolute;
    font-family: "depot-new-web",sans-serif;
    font-weight:500;
    transition:1s;
    color: #D6D6D6;
    font-size:2rem;
    font-size:2rem;
    left:18%;
    top:0%;

    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0%;
    /*
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    */
}

.aboutMe{
    position:absolute;
    display:none;
    width:59%;
    height:100%;
    background:rgb(115, 115, 190);
    top:0;
    right:0;
}
.contentHeader{
    width:100%;
    font-family: "depot-new-web",sans-serif;
    font-weight:500;
    transition:1s;
    color: #D6D6D6;
    font-size:3rem;
    padding:2%;
    top:0;
}
.amContent{
    width:94%;
    height:75%;
    margin:2%;
    padding:1%;
    border-style:solid;
    border-width:2px;
    border-color:rgb(129, 129, 197);
}
.myImage{
    float:right;
    width:30%;
    padding:2%;
}
.currentWork{
      position:absolute;
      display:none;
      width:59%;
      height:100%;
      background:rgb(129, 129, 197);
      top:0;
      right:0;
}
.pastProjects{
    position:absolute;
    display:none;
    width:59%;
    height:100%;
    background:rgb(67, 67, 167);
    top:0;
    right:0;
}
